body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#f4f8ff;
  color:#000;
}

header{
  background:linear-gradient(to right,#0b3c5d,#328cc1);
  color:white;
  text-align:center;
  padding:20px;
}

.tagline{
  font-size:16px;
  color:#ffdd57;
}

.creator{
  font-size:14px;
}

.start-btn{
  width:90%;
  margin:20px auto;
  display:block;
  padding:15px;
  font-size:20px;
  background:#1faa59;
  color:white;
  border:none;
  border-radius:10px;
}

.phase{
  background:#000;
  color:#ffd700;
  padding:10px;
  margin-top:30px;
  font-size:18px;
}

.topic{
  padding:14px;
  margin:10px;
  border-radius:8px;
  font-size:17px;
}

.active{
  background:#d4f8e8;
  border-left:6px solid #1faa59;
}

.active a{
  text-decoration:none;
  color:#000;
  font-weight:bold;
}

.coming{
  background:#fff3cd;
  color:#555;
  border-left:6px solid #ffc107;
}

footer{
  background:#0b3c5d;
  color:white;
  text-align:center;
  padding:20px;
}

footer img{
  width:90px;
  height:90px;
  border-radius:50%;
  border:3px solid gold;
  margin-bottom:10px;
}