body{
  font-family: Arial, sans-serif;
  background:#f2f6ff;
  margin:0;
  text-align:center;
}

header{
  background:#003c8f;
  color:white;
  padding:20px;
}

main{
  padding:20px;
}

button{
  background:#0066ff;
  color:white;
  border:none;
  padding:10px 25px;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#004ccc;
}

.chapter{
  font-size:18px;
  text-decoration:none;
  color:#003c8f;
  font-weight:bold;
}

footer{
  background:#002b5c;
  color:white;
  padding:15px;
}

footer img{
  width:90px;
  height:90px;
  border-radius:50%;
  border:3px solid white;
}